<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nationallity:</strong>
  <%= @player.nationallity %>
</p>

<p>
  <strong>League:</strong>
  <%= @player.league %>
</p>

<p>
  <strong>Club:</strong>
  <%= @player.club %>
</p>

<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
